<?xml version='1.0'?>
<config>
	<modules>
		<Df_Catalog>
			<version>2.23.5</version>
			<author>Дмитрий Федюк</author>
		</Df_Catalog>
	</modules>
	<df>
		<admin>
			<notifiers>
				<flat_category>Df_Catalog_Model_Admin_Notifier_Flat_Category</flat_category>
				<flat_product>Df_Catalog_Model_Admin_Notifier_Flat_Product</flat_product>
			</notifiers>
		</admin>
	</df>
	<global>
		<blocks>
			<df_catalog><class>Df_Catalog_Block</class></df_catalog>
			<catalog>
				<rewrite>
					<layer_view>Df_Catalog_Block_Layer_View</layer_view>
					<!--
						Позволяет другим модулям добавлять свои пункты в товарное меню
					-->
					<navigation>Df_Catalog_Block_Navigation</navigation>
					<product_compare_sidebar>Df_Catalog_Block_Product_Compare_Sidebar</product_compare_sidebar>
					<product_list>Df_Catalog_Block_Product_List</product_list>
					<product_list_related>Df_Catalog_Block_Product_List_Related</product_list_related>
					<product_list_toolbar>Df_Catalog_Block_Product_List_Toolbar</product_list_toolbar>
					<product_list_upsell>Df_Catalog_Block_Product_List_Upsell</product_list_upsell>
					<product_price>Df_Catalog_Block_Product_Price</product_price>
					<product_view>Df_Catalog_Block_Product_View</product_view>
					<product_view_attributes>Df_Catalog_Block_Product_View_Attributes</product_view_attributes>
					<product_view_media>Df_Catalog_Block_Product_View_Media</product_view_media>
					<seo_sitemap_category>Df_Catalog_Block_Seo_Sitemap_Category</seo_sitemap_category>
					<seo_sitemap_product>Df_Catalog_Block_Seo_Sitemap_Product</seo_sitemap_product>
					<seo_sitemap_tree_category>Df_Catalog_Block_Seo_Sitemap_Tree_Category</seo_sitemap_tree_category>
				</rewrite>
			</catalog>
		</blocks>
		<catalog>
			<product>
				<url_rewrite>
					<helper>df_catalog/product_url_rewrite</helper>
				</url_rewrite>
			</product>
		</catalog>
		<helpers>
			<df_catalog><class>Df_Catalog_Helper</class></df_catalog>
			<catalog>
				<rewrite>
					<image>Df_Catalog_Helper_Image</image>
					<product_compare>Df_Catalog_Helper_Product_Compare</product_compare>
					<product_url>Df_Catalog_Helper_Product_Url</product_url>
				</rewrite>
			</catalog>
		</helpers>
		<models>
			<catalog>
				<rewrite>
					<category>Df_Catalog_Model_Category</category>
					<convert_adapter_product>Df_Catalog_Model_Convert_Adapter_Product</convert_adapter_product>
					<convert_parser_product>Df_Catalog_Model_Convert_Parser_Product</convert_parser_product>
					<indexer_url>Df_Catalog_Model_Indexer_Url</indexer_url>
					<observer>Df_Catalog_Model_Observer</observer>
					<product>Df_Catalog_Model_Product</product>
					<product_attribute_backend_media>Df_Catalog_Model_Product_Attribute_Backend_Media</product_attribute_backend_media>
					<product_image>Df_Catalog_Model_Product_Image</product_image>
					<product_option>Df_Catalog_Model_Product_Option</product_option>
					<product_option_type_date>Df_Catalog_Model_Product_Option_Type_Date</product_option_type_date>
					<product_option_type_file>Df_Catalog_Model_Product_Option_Type_File</product_option_type_file>
					<product_option_type_select>Df_Catalog_Model_Product_Option_Type_Select</product_option_type_select>
					<product_url>Df_Catalog_Model_Product_Url</product_url>
					<url>Df_Catalog_Model_Url</url>
				</rewrite>
			</catalog>
			<!-- Для Magento версии не меньше 1.6 -->
			<catalog_resource>
				<rewrite>
					<category_flat>Df_Catalog_Model_Resource_Category_Flat</category_flat>
					<product_attribute_backend_tierprice>Df_Catalog_Model_Resource_Product_Attribute_Backend_Tierprice</product_attribute_backend_tierprice>
					<product_attribute_collection>Df_Catalog_Model_Resource_Product_Attribute_Collection</product_attribute_collection>
					<product_collection>Df_Catalog_Model_Resource_Product_Collection</product_collection>
					<product_flat_indexer>Df_Catalog_Model_Resource_Product_Flat_Indexer</product_flat_indexer>
					<product_link_product_collection>Df_Catalog_Model_Resource_Product_Link_Product_Collection</product_link_product_collection>
					<product_option_collection>Df_Catalog_Model_Resource_Product_Option_Collection</product_option_collection>
					<product_type_configurable_attribute_collection>Df_Catalog_Model_Resource_Product_Type_Configurable_Attribute_Collection</product_type_configurable_attribute_collection>
					<url>Df_Catalog_Model_Resource_Url</url>
				</rewrite>
			</catalog_resource>
			<!-- Для Magento версии меньше 1.6 -->
			<catalog_resource_eav_mysql4>
				<rewrite>
					<category_flat>Df_Catalog_Model_Resource_Category_Flat</category_flat>
					<product_attribute_backend_tierprice>Df_Catalog_Model_Resource_Product_Attribute_Backend_Tierprice</product_attribute_backend_tierprice>
					<product_attribute_collection>Df_Catalog_Model_Resource_Product_Attribute_Collection</product_attribute_collection>
					<product_collection>Df_Catalog_Model_Resource_Product_Collection</product_collection>
					<product_flat_indexer>Df_Catalog_Model_Resource_Product_Flat_Indexer</product_flat_indexer>
					<product_link_product_collection>Df_Catalog_Model_Resource_Product_Link_Product_Collection</product_link_product_collection>
					<product_option_collection>Df_Catalog_Model_Resource_Product_Option_Collection</product_option_collection>
					<product_type_configurable_attribute_collection>Df_Catalog_Model_Resource_Product_Type_Configurable_Attribute_Collection</product_type_configurable_attribute_collection>
					<url>Df_Catalog_Model_Resource_Url</url>
				</rewrite>
			</catalog_resource_eav_mysql4>
			<df_catalog>
				<class>Df_Catalog_Model</class>
				<resourceModel>df_catalog_resource</resourceModel>
			</df_catalog>
			<df_catalog_resource>
				<class>Df_Catalog_Model_Resource</class>
			</df_catalog_resource>
		</models>
		<resources>
			<df_catalog_setup>
				<setup>
					<module>Df_Catalog</module>
					<class>Df_Core_Model_Resource_Setup</class>
				</setup>
			</df_catalog_setup>
		</resources>
		<index>
			<indexer>
				<catalog_product_flat>
					<model>df_catalog/product_indexer_flat</model>
				</catalog_product_flat>
			</indexer>
		</index>
		<cache>
			<types>
				<rm_catalog translate='label,description' module='df_catalog'>
					<label>Улучшенное кэширование каталога</label>
					<description>Хранит различные выборки товаров и разделов.</description>
					<tags>rm_catalog</tags>
				</rm_catalog>
			</types>
		</cache>
	</global>
	<admin>
		<fieldsets>
			<catalog_product_dataflow>
				<df_additional_images><external>1</external></df_additional_images>
			</catalog_product_dataflow>
		</fieldsets>
	</admin>
	<frontend>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<df_catalog_core_block_abstract_to_html_after>
						<!--
							При необходимости добавляет в макет блок
							«Иллюстрированное меню товарных разделов»
						-->
						<type>singleton</type>
						<class>df_catalog/category_navigation_observer</class>
						<method>core_block_abstract_to_html_after</method>
					</df_catalog_core_block_abstract_to_html_after>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
		<translate>
			<modules>
				<Df_Catalog>
					<files>
						<default>Mage_Catalog.csv</default>
					</files>
				</Df_Catalog>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Df_Catalog>
					<files>
						<default>Mage_Catalog.csv</default>
					</files>
				</Df_Catalog>
				<Mage_Catalog>
					<files>
						<rm_additional>admin/Mage_Catalog.csv</rm_additional>
					</files>
				</Mage_Catalog>
			</modules>
		</translate>
		<events>
			<rm__config_after_save__catalog__frontend__flat_catalog_category>
				<observers>
					<df_catalog__rm__config_after_save__catalog__frontend__flat_catalog_category>
						<type>singleton</type>
						<class>df_catalog/dispatcher</class>
						<method>rm__config_after_save__catalog__frontend__flat_catalog_category</method>
					</df_catalog__rm__config_after_save__catalog__frontend__flat_catalog_category>
				</observers>
			</rm__config_after_save__catalog__frontend__flat_catalog_category>
			<rm__config_after_save__catalog__frontend__flat_catalog_product>
				<observers>
					<df_catalog__rm__config_after_save__catalog__frontend__flat_catalog_product>
						<type>singleton</type>
						<class>df_catalog/dispatcher</class>
						<method>rm__config_after_save__catalog__frontend__flat_catalog_product</method>
					</df_catalog__rm__config_after_save__catalog__frontend__flat_catalog_product>
				</observers>
			</rm__config_after_save__catalog__frontend__flat_catalog_product>
			<rm__magento_ce_has_just_been_installed>
				<observers>
					<df_catalog__rm__magento_ce_has_just_been_installed>
						<type>singleton</type>
						<class>df_catalog/dispatcher</class>
						<method>rm__magento_ce_has_just_been_installed</method>
					</df_catalog__rm__magento_ce_has_just_been_installed>
				</observers>
			</rm__magento_ce_has_just_been_installed>
		</events>
	</adminhtml>
	<default>
		<catalog>
			<custom_options>
				<date_fields_order>d,m,y</date_fields_order>
				<time_format>24h</time_format>
				<use_calendar>1</use_calendar>
			</custom_options>
			<downloadable>
				<samples_title>Демо-образцы</samples_title>
				<links_title>Файлы для скачивания</links_title>
			</downloadable>
			<frontend>
				<!--
					К сожалению, нельзя здесь включать опции денормализации,потому что при этом первоначальная одновременная установка
					Magento community Edition и Российской сборки Magento
					приводит к сбою:
					Table 'catalog_category_flat_store_1' doesn't exist
					<flat_catalog_category>1</flat_catalog_category>
					<flat_catalog_product>1</flat_catalog_product>
				-->
				<!-- Разрешить «все» в качестве значения параметра «товаров на странице»? -->
				<list_allow_all>1</list_allow_all>
			</frontend>
		</catalog>
		<design>
			<watermark>
				<!-- Magento CE / EE не задают значение по умолчанию -->
				<imageOpacity>30</imageOpacity>
			</watermark>
		</design>
		<df_tweaks_admin>
			<optimization>
				<fix_double_stock_reindexing_on_product_save>1</fix_double_stock_reindexing_on_product_save>
			</optimization>
		</df_tweaks_admin>
		<sales>
			<msrp>
				<explanation_message><![CDATA[Мы продаём этот товар по цене ниже рекомендованной произодителем. По этой причине мы не имеем права показывать нашу реальную (более низкую) цену непосредственно на витрине.]]></explanation_message>
				<explanation_message_whats_this><![CDATA[Мы продаём этот товар по цене ниже рекомендованной произодителем. По этой причине мы не имеем права показывать нашу реальную (более низкую) цену непосредственно на витрине.]]></explanation_message_whats_this>
			</msrp>
		</sales>
	</default>
</config>