<?xml version="1.0"?>
<!--
/**
 * Copyright (c) <2014>, <Rugento.ru>
 * License URL http://www.rugento.ru/oferta.html
 * Support URL http://support.rugento.ru
 * Support EMAIL support@rugento.ru
 */
-->
<config>
    <modules>
        <Rugento_Advancedlayernavigation>
            <version>1.2.4</version>
        </Rugento_Advancedlayernavigation>
    </modules>
    <global>
        <models>
            <advancedlayernavigation>
                <class>Rugento_Advancedlayernavigation_Model</class>
                <resourceModel>advancedlayernavigation_resource</resourceModel>
            </advancedlayernavigation>
            <advancedlayernavigation_resource>
                <class>Rugento_Advancedlayernavigation_Model_Resource_Eav_Mysql4</class>
            </advancedlayernavigation_resource>
            <!--  <catalog_resource_eav_mysql4>
                <rewrite>
                    <layer_filter_price>Rugento_Advancedlayernavigation_Model_Resource_Eav_Mysql4_Layer_Filter_Price</layer_filter_price>
                </rewrite>
                  <rewrite>
                    <layer_filter_attribute>Rugento_Advancedlayernavigation_Model_Resource_Eav_Mysql4_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
                <rewrite>
                    <layer_filter_decimal>Rugento_Advancedlayernavigation_Model_Resource_Eav_Mysql4_Layer_Filter_Decimal</layer_filter_decimal>
                </rewrite>
            </catalog_resource_eav_mysql4> -->
        </models>
        <blocks>
            <advancedlayernavigation>
                <class>Rugento_Advancedlayernavigation_Block</class>
            </advancedlayernavigation>
            <!--  <catalog>
                <rewrite>
                    <layer_filter_price>Rugento_Advancedlayernavigation_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
                <rewrite>
                    <layer_filter_decimal>Rugento_Advancedlayernavigation_Block_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                </rewrite>
                <rewrite>
                    <layer_filter_attribute>Rugento_Advancedlayernavigation_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
                <rewrite>
                    <layer_filter_category>Rugento_Advancedlayernavigation_Block_Catalog_Layer_Filter_Category</layer_filter_category>
                </rewrite>
                <rewrite>
                    <layer_view>Rugento_Advancedlayernavigation_Block_Catalog_Layer_View</layer_view>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Rugento_Advancedlayernavigation_Block_Catalogsearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch> -->
        </blocks>
        <helpers>
            <advancedlayernavigation>
                <class>Rugento_Advancedlayernavigation_Helper</class>
            </advancedlayernavigation>
        </helpers>
        <resources>
            <advancedlayernavigation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedlayernavigation_write>
            <advancedlayernavigation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedlayernavigation_read>
        </resources>
         <events>
              <controller_front_init_before>
                <observers>
                    <afevent>
                        <class>Rugento_Advancedlayernavigation_Model_Observer</class>
                        <method>urlRewrite</method>
                    </afevent>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <admin>
        <routers>
            <advancedlayernavigation>
                <use>admin</use>
                <args>
                    <module>Rugento_Advancedlayernavigation</module>
                    <frontName>advancedlayernavigation</frontName>
                </args>
            </advancedlayernavigation>
        </routers>
    </admin>
    <frontend>
        <routers>
            <advancedlayernavigation>
                <use>standard</use>
                <args>
                    <module>Rugento_Advancedlayernavigation</module>
                    <frontName>advancedlayernavigation</frontName>
                </args>
            </advancedlayernavigation>
        </routers>
        <translate>
            <modules>
                <Rugento_Advancedlayernavigation>
                    <files>
                        <default>Rugento_Advancedlayernavigation.csv</default>
                    </files>
                </Rugento_Advancedlayernavigation>
            </modules>
        </translate>
         <layout>
            <updates>
                <advancedlayernavigation>
                    <file>advancedlayernavigation.xml</file>
                </advancedlayernavigation>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <advancedlayernavigation translate="title" module="advancedlayernavigation">
                <title>Advancedlayernavigation</title>
                <sort_order>71</sort_order>
                <children>
                    <setup translate="title" module="advancedlayernavigation">
                        <title>Layer Setup</title>
                        <sort_order>0</sort_order>
                        <action>advancedlayernavigation/adminhtml_setup</action>
                    </setup>
                </children>
            </advancedlayernavigation>
        </menu>
        <layout>
            <updates>
                <advancedlayernavigation>
                    <file>advancedlayernavigation.xml</file>
                </advancedlayernavigation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rugento_Advancedlayernavigation>
                    <files>
                        <default>Rugento_Advancedlayernavigation.csv</default>
                    </files>
                </Rugento_Advancedlayernavigation>
            </modules>
        </translate>
        <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <advancedlayernavigation translate="title">
                                        <title>Advancedlayernavigation</title>
                                        <sort_order>50</sort_order>
                                    </advancedlayernavigation>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
        </acl>
    </adminhtml>
</config>
